.list{
list-style: none;
 text-align: center;
}
button{
    background-color: blue;
    color: white;
}
button:hover{
    background-color:purple;
    color: white;
}
label {
    display: flex;
    justify-content: center;
}
#me{
    background-color: blue;
    color:white;
}
#me:hover{
    background-color: purple;
    color:white;
}
li{
    font-family: fantasy;
}

body{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/grocery-shop-safely-1585329663.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*);
    background-repeat: no-repeat;
    justify-content: center;
    width:100vw;
    height: 98vh;
    
    background-position-x:center;
}